<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/save" method="post" enctype="multipart/form-data">
    <input type="file" id="upImgFiles" name="imageFile" onsubmit="return false;" onchange="uploadImgPreview(this);"  multiple>
    <input type="submit" value="버튼">
</form>
<div id="thumbnailImgs"></div>


<a href="/findById/1">디테일 테스트</a>
<!--<video src="/video/스타 오프닝.mp4" autoplay="autoplay" controls="controls" width="300"></video>-->
<button onclick="aa(1)">원본</button>
<button onclick="aa(2)">흑백</button>
<button onclick="aa(3)">세피아</button>
<button onclick="aa(4)">밝게</button>
<button onclick="aa(5)">조도</button>
<button onclick="aa(6)">반전</button>
</body>
<script>
    var fileNo = 0;
    var filesArr = new Array();




    let num = 0;

    function uploadImgPreview(obj) {
        console.log("uploadImgPreview 호출 obj: "+obj.files.length)
        var maxFileCnt = 5;   // 첨부파일 최대 개수
        var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
        var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
        var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

        // 첨부파일 개수 확인
        if (curFileCnt > remainFileCnt) {
            alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
        } else {
            // for (let i=0;i<=0;i++) {
            // for (let i=0;i<obj.files.length;i++) {

            // 첨부파일 검증
            if (validation(obj.files[0])) {
                // 파일 배열에 담기
                var reader = new FileReader();
                reader.onload = function () {
                    filesArr.push(obj.files[0]);

                };
                reader.readAsDataURL(obj.files[0]);
                fileNo++;
                // }

                // for (const file of obj.files) {
                // // 첨부파일 검증
                // if (validation(file)) {
                //     // 파일 배열에 담기
                //     var reader = new FileReader();
                //     reader.onload = function () {
                //         filesArr.push(file);

                //     };
                //     reader.readAsDataURL(file);
                //     fileNo++;
                // }

                // else {
                //     continue;
                // }
            }

            console.log("filesArr len : "+filesArr.length)

        }
        document.getElementById("thumbnailImgs").innerHTML = "";




        function validation(obj){
            console.log(obj);
            const fileTypes = ['application/pdf', 'image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif', 'video/mp4' ,'application/haansofthwp', 'application/x-hwp'];
            const fileTypes2 = ['image/gif', 'image/jpeg', 'image/png'];
            const fileTypes3 = ['video/mp4'];
            console.log(obj);
            if (obj.name.length > 100) {
                document.querySelector("input[type=file]").value = "";
                alert("파일명이 100자 이상인 파일은 제외되었습니다.");
                return false;
            }
            else if (obj.size > (100 * 1024 * 1024)) {
                document.querySelector("input[type=file]").value = "";
                alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
                return false;
            }
            else if (obj.name.lastIndexOf('.') == -1) {
                document.querySelector("input[type=file]").value = "";
                alert("확장자가 없는 파일은 제외되었습니다.");
                return false;
            }
            else if (!fileTypes.includes(obj.type)) {
                document.querySelector("input[type=file]").value = "";
                alert("첨부가 불가능한 파일은 제외되었습니다.");
                return false;
            }




            let fileList = document.getElementById("upImgFiles").files;

            console.log("length : "+fileList.length);

            if (fileList) {

                // @details readAndPreview() 함수를 forEach문을통한 반복 수행

                for (let i = 0; i < fileList.length; i++){
                    readAndPreview(fileList[i]);
                }
            }

            function readAndPreview(fileList) {
                console.log("readAndPreview 호출")

                let reader = new FileReader();
                let image = new Image();
                let video = document.createElement("video");
                // @breif 이미지 확장자 검사
                reader.addEventListener("load", function () {
                    // if (/\.(jpe?g|png|gif|mp4)$/i.test(fileList.name)) {

                    num += 1;

                    if (fileTypes2.includes(fileList.type)) {


                        image.width = "350";

                        image.height = "480";

                        // image.title = fileList.name;

                        image.src = this.result;

                        image.id = "aa" + num;

                        image.className = "aaa";

                        document.getElementById("thumbnailImgs").appendChild(image);

                        // @details 이미지 확장자 검사

                    } else if (fileTypes3.includes(fileList.type)) {

                        video.setAttribute("src", this.result);
                        video.setAttribute("width", "350");
                        video.setAttribute("height", "480");
                        video.setAttribute("controls", "controls");
                        video.setAttribute("autoplay", "autoplay");
                        video.setAttribute("id", "aa" + num);
                        video.setAttribute("loop", "loop");
                        video.setAttribute("class", "aaa");
                        // @details 이미지 확장자 검사
                        document.getElementById("thumbnailImgs").appendChild(video);

                    }

                    // }


                });


                if (fileList) {
                    reader.readAsDataURL(fileList);
                }
            }





        }

        return true;
    }



    function aa(a) {
        let zone = document.getElementsByClassName("aaa");
        for (let i = 0; i <= 10; i++) {

            if (a == 1) {
                zone[i].style.filter = ''
            } else if (a == 2) {
                zone[i].style.filter = 'grayscale(100)'
            } else if (a == 3) {
                zone[i].style.filter = 'sepia(1)'
            } else if (a == 4) {
                zone[i].style.filter = 'brightness(1.3)'
            } else if (a == 5) {
                zone[i].style.filter = 'contrast(1.3)'
            } else if (a == 6) {
                zone[i].style.filter = 'invert(1)'
            }
        }

    }

</script>
</html>