<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/save" method="post" enctype="multipart/form-data">
    <input type="file" id="upImgFiles" name="imageFile" onChange="uploadImgPreview()" accept="image/*" multiple>

    <div id="thumbnailImgs"></div>
    <input type="submit" value="버튼">
</form>
<button onclick="aa(1)">원본</button>
<button onclick="aa(2)">흑백</button>
<button onclick="aa(3)">세피아</button>
<button onclick="brightness()">밝게</button>
<button onclick="contrast()">조도</button>
<button onclick="invert()">반전</button>

<button id="froala-editor">&#8986</button>
</body>
<script>
    let num = 0;
    function uploadImgPreview() {
        document.getElementById("thumbnailImgs").innerHTML = "";


        // @breif 업로드 파일 읽기

        let fileList = document.getElementById( "upImgFiles" ).files;



        // @breif 업로드 파일 읽기

        function readAndPreview( fileList ) {



            // @breif 이미지 확장자 검사

            if ( /\.(jpe?g|png|gif|mp4)$/i.test( fileList.name ) ) {



                let reader = new FileReader();



                reader.addEventListener( "load", function() {
                    num += 1;


                    let image = new Image();


                    image.width = "264";

                    image.height = "264";

                    image.title = fileList.name;

                    image.src = this.result;

                    image.id = "aa" + num;

                    image.className = "aaa";

                    // @details 이미지 확장자 검사

                    document.getElementById( "thumbnailImgs" ).appendChild( image );



                }, false );



                // @details readAsDataURL( )을 통해 파일의 URL을 읽어온다.

                if( fileList ) {

                    reader.readAsDataURL( fileList );

                }

            }

        }



        if( fileList ) {



            // @details readAndPreview() 함수를 forEach문을통한 반복 수행

            [].forEach.call( fileList, readAndPreview );

        }

    }

    function aa(a) {
        let zone =document.getElementsByClassName("aaa");
        for (let i = 0; i <= 10; i++){

        if(a == 1){
            zone[0].style.filter=''
        }else if(a == 2) {
            zone[0].style.filter='grayscale(100)'
        }else if(a == 3) {
            zone[0].style.filter='sepia(1)'
        }
        }
    }


    // let zone = document.getElementById("test").innerHTML;
    // function reset(){
    //     zone.style.filter=''
    // }
    // function gray(){
    //     zone.style.filter='grayscale(100)'
    // }
    // function sepia(){
    //     zone.style.filter='sepia(1)'
    // }
    // function brightness(){
    //     zone.style.filter='brightness(1.3)'
    // }
    //
    // function contrast(){
    //     zone.style.filter='contrast(1.3)'
    // }
    // function invert(){
    //     zone.style.filter='invert(1)'
    // }
</script>
</html>