<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/save" method="post" enctype="multipart/form-data">
    <input type="file" id="upImgFiles" name="imageFile" onsubmit="return false;" onchange="uploadImgPreview(this);"  multiple>
    <input type="submit" value="버튼">
</form>
<div id="thumbnailImgs"></div>
<input type="button" onclick="qw()" value="aa">

<a href="/findById/1">디테일 테스트</a>
<!--<video src="/video/스타 오프닝.mp4" autoplay="autoplay" controls="controls" width="300"></video>-->
<button onclick="reset()">원본</button>
<button onclick="gray()">흑백</button>
<button onclick="sepia()">세피아</button>
<button onclick="brightness()">밝게</button>
<button onclick="contrast()">조도</button>
<button onclick="invert()">반전</button>
</body>
<script>
    var fileNo = 0;
    var filesArr = new Array();
    let num = 0;

    function uploadImgPreview(obj) {
        var maxFileCnt = 10;   // 첨부파일 최대 개수
        var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
        var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
        var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

        // 첨부파일 개수 확인
        if (curFileCnt > remainFileCnt) {
            alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
            document.querySelector("input[type=file]").value = "";
        } else {
            const file = document.getElementById("upImgFiles").files;
            console.log(file);
            if (file[0] == null){
                alert("파일이 없습니다.");
            } else {
                for (const f of obj.files){
                    if(validation(f)) {
                        var reader = new FileReader();
                        reader.onload = function () {
                            filesArr.push(f);
                        }
                    }
                }

            }
            document.querySelector("[id=thumbnailImgs]").innerHTML = null;
            num = 0;
        }

        function validation(obj){
            const ww = new Array();
            console.log(ww);
            const fileTypes = ['application/pdf', 'image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif', 'video/mp4' ,'application/haansofthwp', 'application/x-hwp'];
            const fileTypes2 = ['image/gif', 'image/jpeg', 'image/png'];
            const fileTypes3 = ['video/mp4'];
            const fileTypes4 = ['image/gif', 'image/jpeg', 'image/png', 'video/mp4'];
            if (obj.name.length > 100) {
                document.querySelector("input[type=file]").value = "";
                alert("파일명이 100자 이상인 파일은 제외되었습니다.");
                return false;
            }
            else if (obj.size > (100 * 1024 * 1024)) {
                document.querySelector("[type=file]").value = "";
                document.getElementById("thumbnailImgs").innerHTML = "hidden";
                alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
                return false;
            }
            else if (obj.name.lastIndexOf('.') == -1) {
                // document.querySelector("input[type=file]").value = this.result.remove();
                document.querySelector("input[type=file]").value = "";
                alert("확장자가 없는 파일은 제외되었습니다.");
                return false;
            }
            else if (!fileTypes.includes(obj.type)) {
                document.querySelector("input[type=file]").value = "";
                alert("첨부가 불가능한 파일은 제외되었습니다.");
                return false;
            }else if (fileTypes4.includes(obj.type)) {
                let reader = new FileReader();
                reader.addEventListener("load", function () {
                    if (fileTypes2.includes(obj.type)) {
                        let image = new Image();
                        num += 1;

                        image.width = "264";

                        image.height = "264";

                        // image.title = fileList.name;

                        image.src = this.result;

                        image.id = "aaa"+num;


                        // image.className = "aaa";

                        document.getElementById("thumbnailImgs").appendChild(image);
                    } else if (fileTypes3.includes(obj.type)) {
                        let video = document.createElement("video");
                        num += 1;

                        video.setAttribute("src", this.result);
                        video.setAttribute("width", "264");
                        video.setAttribute("height", "264");
                        video.setAttribute("controls", "controls");
                        video.setAttribute("autoplay", "autoplay");
                        video.setAttribute("id", "aaa" + num);
                        video.setAttribute("loop", "loop");
                        video.setAttribute("class", "aaa");
                        // @details 이미지 확장자 검사
                        document.getElementById("thumbnailImgs").appendChild(video);
                    }

                });
                if (obj) {
                    reader.readAsDataURL(obj);
                }


            }
            return true;
        }

    }
    function qw (obj) {
        let a = "<input type='file'>"

        // <form action="/save" method="post" encType="multipart/form-data">
        //     <input type="file" id="upImgFiles" name="imageFile" onSubmit="return false;"
        //            onChange="uploadImgPreview(this);" multiple>
        //         <input type="submit" value="버튼">
        // </form>
        // <div id="thumbnailImgs"></div>
    }

    // function aa(a) {
    //     let zone = document.getElementsByClassName("aaa");
    //     for (let i = 0; i <= 10; i++) {
    //
    //         if (a == 1) {
    //             zone[i].style.filter = ''
    //         } else if (a == 2) {
    //             zone[i].style.filter = 'grayscale(100)'
    //         } else if (a == 3) {
    //             zone[i].style.filter = 'sepia(1)'
    //         } else if (a == 4) {
    //             zone[i].style.filter = 'brightness(1.3)'
    //         } else if (a == 5) {
    //             zone[i].style.filter = 'contrast(1.3)'
    //         } else if (a == 6) {
    //             zone[i].style.filter = 'invert(1)'
    //         }
    //     }
    //
    // }
    function reset(){
        aaa1.style.filter=''
    }
    function gray(){
        aaa1.style.filter='grayscale(100)'
    }
    function sepia(){
        aaa1.style.filter='sepia(1)'
    }
    function brightness(){
        aaa1.style.filter='brightness(1.3)'
    }

    function contrast(){
        aaa1.style.filter='contrast(1.3)'
    }
    function invert(){
        aaa1.style.filter='invert(1)'
    }
</script>
</html>